# Archivos de entorno y configuración sensible
.env
# Directorios de Node.js
node_modules/
.history
.vscode
dist/ # Si usas TypeScript o Babel y compilas tu código
build/ # Otro nombre común para directorios de compilación

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Directorios de editores
.vscode/
.history/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de sistema
.DS_Store
Thumbs.db

# Directorios de compilación
/dist
/build
/out

# Archivos de logs
logs
*.log

# Archivos de cobertura
coverage/
